name: Python

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  # Job 1: build và test
  # Job thực thi trên máy ảo ubuntu
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and test
      run: |
        docker build -t be_python .
    - name: Push image to Docker Hub
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/be_python:${{ github.sha }}
  # Job 2: Deploy
  deploy:
    needs: build_and_test
    runs-on: ubuntu-latest

    steps:
      - name: Pull Docker image
        run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/be_python:${{ github.sha }}

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          timeout: 5000s
          script: |
            # Dừng và gỡ bỏ container hiện tại (nếu có)
            docker stop be-python-container
            docker rm be-python-container
            # Chạy container mới với image đã pull về bên trên
            docker run -d --restart=always -p 8000:8000 --memory=7g --name be-python-container ${{ secrets.DOCKERHUB_USERNAME }}/be_python:${{ github.sha }}
          command_timeout: 10000m